<!DOCTYPE html>
	<<html class="no-js" lang="en">
<head>
   <meta charset="utf-8">
	<title>Morphy Family</title>
	<meta name="description" content="">  
	<meta name="author" content="">

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

   	<link rel="stylesheet" href="static/css/base.css">  
   	<link rel="stylesheet" href="static/css/main.css">
   	<link rel="stylesheet" href="static/css/vendor.css">     

	<script src="static/js/modernizr.js"></script>

	<link rel="icon" type="image/png" href="static/favicon.png">

</head>

<body id="top">
   <header>

   	<div class="row">
		  <nav id="main-nav-wrap">
			<ul class="main-navigation">
				<li class="current"><a class="smoothscroll"  href="#intro" title=""><b>ГЛАВНАЯ<b1></a></li>
				<li><a class="smoothscroll"  href="#process" title="">О НАС</a></li>
				<li><a class="smoothscroll"  href="#features" title="">ДЕЯТЕЛЬНОСТЬ</a></li>
				<li class="highlight with-sep"><a href="oauth2" title="">Sign Up</a></li>
			</ul>
		</nav>

			<a class="menu-toggle" href="#"><span>Menu</span></a>
   		
   	</div>   	
   	
	</header>
		<section id="intro">

			<div class="shadow-overlay"></div>

			<div class="intro-content">
				<div class="row">

					<div class="col-twelve">

						<div class='video-link'>
							<a href="#video-popup"><img src="static/images/955_oooo.plus.png" alt=""></a>
						</div>

						<h5>Добро пожаловать.</h5>
						<h1>Morphy - это не просто семья, а отличное коммьюнити.</h1>

						<a class="button stroke smoothscroll" href="#process" title="">ПОДРОБНЕЕ</a>

					</div>  
					
				</div>   		 		
			</div> 

      <div id="video-popup" class="popup-modal mfp-hide">

		   <div class="fluid-video-wrapper">
            <iframe src="https://www.youtube.com/embed/V9Y3P1E0g1E" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 
         </div>		     

         <a class="close-popup">Close</a>         

	   </div>	 	

   </section>

   <section id="process">  

   	<div class="row section-intro">
   		<div class="col-twelve with-bottom-line">

			<h5>О НАС</h5>
			<h1>Кто мы такие?</h1>

			<p class="lead">Вопрос - ответ.</p>

		</div>
	</div>

   	<div class="row process-content">

   		<div class="left-side">

   			<div class="item" data-item="1">

   				<h5>Кто мы?</h5>

   				<p>Морфи - это та семья, которая поддержит тебя в трудную минуту, поможет с любым вопросом, это то коммьюнити в котором ты будешь чувствовать себя как дома</p>
   					
   			</div>

   			<div class="item" data-item="2">

	   			<h5>Как к нам попасть?</h5>

	   			<p>Достаточно написать в личные сообщения основателю семьи, или же его заместителям.</p>
   					
   			</div>
   				
   		</div>
   		
   		<div class="right-side">
   				
   			<div class="item" data-item="3">

   				<h5>Кому писать для инвайта в фаму?</h5>

   				<p>Писать нужно в личные сообщения в Дискорде. Контакты - Morphy#3646 ; SW33T#1111.</p>
   					
   			</div>

   			<div class="item" data-item="4">

   				<h5>Где мы играем, и что мы делаем?</h5>

   				<p>Мы играем в разные игры, но в основном играем в гта 5 на сервере Majestic 05. Участвуем в каждом мероприятии по типу - Война за Материалы, Битва Фракций т.д. и т.п.</p>
   					
   			</div>

   		</div>

   		<div class="image-part"></div>  			

   	</div>

   </section>

	<section id="features">

		<div class="row section-intro">
   		<div class="col-twelve with-bottom-line">

   			
	            </div>	               

			   </div>

	      </div>
   		
   	</div>
		
	</section>
   <section id="testimonials">

   	<div class="row">
   		<div class="col-twelve">
   			<h2 class="h01">Мотивация - это наше все.</h2>
   		</div>   		
   	</div>   	

      <div class="row flex-container">
    
         <div id="testimonial-slider" class="flexslider">

            <ul class="slides">

               <li>
               	<div class="testimonial-author">
                    	<img src="static/images/avatars/avatar-1.jpg" alt="Author image">
                    	<div class="author-info">Justin Morphy<span class="position">Krakow, Morphy Corp.</span>
                    	</div>
                  </div>
                  <p>Нету ничего важнее, чем банка пива, микрофон от HyperX Stinger, холодной воды от которой пиструн становится меньше чем остров на Кайо-Перико.</p>                  
             	</li> 
               <li> 

               	<div class="testimonial-author">
                    	<img src="static/images/avatars/avatar-2.jpg" alt="Author image">
                    	<div class="author-info">Tape Morphy<span>Cherkassy, Morphy Corp.</span></div>
                  </div> 
                  <p>Улыбайтесь, пока зубы у вас ещё есть.</p>              
               </li>
            </ul>

         </div>      
        
      </div>

   </section>

   <script src="static/js/jquery-1.11.3.min.js"></script>
   <script src="static/js/jquery-migrate-1.2.1.min.js"></script>
   <script src="static/js/plugins.js"></script>
   <script src="static/js/main.js"></script>

</body>

</html>